.forins_controls {
    display: block;
    /* vertical-align: top; */
    /* float: none; */
}

.forins_controls .label_search_box {
    display: block;
    width: 100%;
    position: relative;
}

.forins_controls .forins_input_box {
    vertical-align: top;
    position: relative;
    border: 1px solid #e7e7eb;
    display: inline-block;
    width: 85%;
    overflow: hidden;
    padding: 4px 0 0 10px;
    line-height: 1.6;
    min-height: 26px;
}

.forins_controls .forins_input_button {
    vertical-align: top;
    position: relative;
}

.forins_controls .forins_input_tag {
    display: inline-block;
    vertical-align: top;
    padding: 0 18px 0 9px;
    margin-right: 5px;
    margin-bottom: 4px;
    background-color: #f6f8f9;
    position: relative;
    line-height: 22px;
    color: #000;
}

.forins_controls .forins_input_tag .icon_tag_del {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.forins_controls .forins_input_tag .icon_tag_del::before {
    content: '';
    display: block;
    width: 9px;
    height: 1px;
    background: #6d6d6d;
    position: absolute;
    top: 6px;
    left: 3px;
}

.forins_controls .forins_input_tag .icon_tag_del::after {
    content: '';
    display: block;
    width: 1px;
    height: 9px;
    background: #6d6d6d;
    position: absolute;
    top: 2px;
    left: 7px;
}

.layui-form-pop {
    padding-top: 10px;
}

.layui-form-pop .forins_controls .forins_input_box {
    width: 90%;
}

.layui-form-pop .search_box {
    width: 30%;
}