/node_modules
/public/js
/public/hot
/public/storage
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/upload/*
/public/logs
/storage/logs/*.log
/app/Console/Commands/Test.php
/config/database.php